<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">{{ page.title }}</h1>
        <p class="wow fadeInDown" data-wow-delay=".5s">
          {{ page.content|striptags('<b><strong><br><i><em><blockquote>') }}
        </p>
    </div>

    <div class="row">
      {% set source_page = page.find(page.header.source) %}
      {% for child in source_page.collection() %}
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="{{ loop.index * 300 }}ms">
          <div class="img-wrapper">
            <img src="{{ child.media.images|first.cache.url() }}" class="img-responsive" alt="{{ child.title }}" >
            <div class="overlay">
              <div class="buttons">
                <a rel="gallery" class="fancybox" href="{{ child.media.images|first.cache.url() }}">{{ 'THEME.SITE.DEMO'|t }}</a>
                <a target="_blank" href="{{ child.url }}">{{ 'THEME.SITE.DETAIL'|t }}</a>
              </div>
            </div>
          </div>
          <figcaption>
            <h4>
              <a href="{{ child.url }}">{{ child.title }}</a>
            </h4>
            <p>{{ child.header.short_description }}</p>
          </figcaption>
        </figure>
      </div>
      {% endfor %}
    </div>
  </div>
</section> <!-- #works -->