<!-- 
================================================== 
    Team Section Start
================================================== -->
<section id="team">
  <div class="container">
    <div class="row">
      <h2 class="subtitle text-center">{{ page.title }}</h2>
      {% for member in page.header.members %}
      <div class="col-md-3">
        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{{ loop.index * 0.2 + 0.3 }}s">
          <div class="team-img">
            <img src="{{ page.media.images[member.image].cache.url() }}" class="team-pic" alt="{{ member.name }}">
          </div>
          <h3 class="team_name">{{ member.name }}</h3>
          <p class="team_designation">{{ member.designation }}</p>
          <p class="team_text">{{ member.about }} </p>
          <p class="social-icons">
            <a href="{{ member.facebook }}" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
            <a href="{{ member.twitter }}" target="_blank"><i class="ion-social-twitter-outline"></i></a>
            <a href="{{ member.linkedin }}" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
            <a href="{{ member.googleplus }}" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
          </p>
        </div>
      </div>
      {% endfor %}
            
        </div>
    </div>
</section>
