{% extends 'partials/base.html.twig' %}

{% block content %}
  <!--
  ==================================================
  Global Page Section Start
  ================================================== -->
  <section class="global-page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>{{ page.header.title|raw }}</h2>
            <div class="portfolio-meta">
              <span>{{ page.header.date|date(config.system.pages.dateformat.long) }}</span>|
              <span> {{ 'THEME.SITE.CAT'|t }}: {% for cat in page.header.taxonomy.category %}{{ cat }}{% if not loop.last %}, {% endif %}{% endfor %}</span>|
              <span> {{ 'THEME.SITE.TAG'|t }}: 
                {% for tag in page.header.taxonomy.tag %}
                  <a href="">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#Page header-->


  <section class="single-post">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="post-img">
            <img class="img-responsive" alt="{{ page.header.alt|raw }}" src="{{ page.media.images[page.header.image].cache.url() }}">
          </div>
          <div class="post-content">
            {{ page.content|raw }}
          </div>
          <ul class="social-share">
            <h4>{{ 'THEME.SITE.SHARE'|t }}</h4>
            <li>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url(true) }}" class="Facebook" target="_blank">
                <i class="ion-social-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/intent/tweet?url={{ page.url(true) }}&text={{ page.title }}" class="Twitter" target="_blank">
                <i class="ion-social-twitter"></i>
              </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url }}" class="Linkedin" target="_blank">
                <i class="ion-social-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/share?url={{ page.url(true) }}" target="_blank" class="Google Plus">
                <i class="ion-social-googleplus"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="comments">
             {% include 'partials/comments.html.twig' with {'page': page} %}
          </div>
        </div>
      </div>
    </div>
  </section>   

  {% include 'partials/cta.html.twig' %}
{% endblock %}
