{% macro nav_loop(page) %}
    {% for p in page.children.visible %}
        {% set active_page = (p.active or p.activeChild) ? 'dropdown-toggle' : '' %}
        {% if p.children.visible.count > 0 %}
            <li class="dropdown">
                <a href="{{ p.url }}" class="dropdown-toggle" data-toggle="dropdown">
                    {{ p.menu }}<span class="caret"></span>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        {{ _self.nav_loop(p) }}
                    </ul>
                </div>
            </li>
        {% else %}
            <li>
                <a href="{{ p.url }}" class="{{ active_page }}">
                    {{ p.menu }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<ul class="nav navbar-nav navbar-right">
    {{ _self.nav_loop(pages) }}
</ul>
