<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="feature">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">{{ page.title|raw }}</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        {{ page.content|striptags('<b><strong><br><i><em><blockquote>')|raw }}
      </p>
    </div>
    
    <div class="row">
      {% for item in page.header.items %}
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="{{ loop.index * 300 }}ms">
          <div class="media-left">
            <div class="icon">
              <i class="{{ item.icon }}"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ item.title|raw }}</h4>
            <p>{{ item.content|raw }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section> <!-- /#feature -->
