{% extends 'partials/base.html.twig' %}

{% block content %}
  {% include 'partials/header.html.twig' %}

  <!--=====================================
  =            Full Width Blog            =
  ======================================-->
  <section id="blog-full-width">
    <div class="container">
      <div class="row">
        {% if page.header.style == 'left' %}
          <div class="col-md-4">
            <div class="sidebar">
              <div class="search widget">
                {% include 'partials/simplesearch_searchbox.html.twig' %}
              </div>
              
              <div class="categories widget">
                <h3 class="widget-head">{{ 'THEME.SITE.CATS'|t }}</h3>
                {% include 'partials/taxonomylist.html.twig' with {base_url: page.url, taxonomy: 'category'} %}
              </div>
                                  
              <div class="recent-post widget">
                <h3>{{ 'THEME.SITE.RECENT'|t }}</h3>
                {% set options = { items: {'@page.children': '/blog'}, 'limit': 5, 'order': {'by': 'date', 'dir': 'desc'}, 'pagination': true } %}
                {% set rp_collection = page.collection(options) %}

                <ul>
                  {% for rp_post in rp_collection %}
                  <li>
                    <a href="{{ rp_post.url }}">{{ rp_post.title|raw }}</a><br>
                    <time>{{ rp_post.date|date(config.system.pages.dateformat.long) }}</time>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endif %}

        <div {% if page.header.style == 'full' %}class="col-md-12" {% else %} class="col-md-8" {% endif %}>
          {% for post in page.collection() %}
          <article class="wow fadeInDown" data-wow-delay="{{ loop.index * 0.3 + 0.3 }}s" data-wow-duration="500ms">
            <div class="blog-post-image">
              <a href="{{ post.url }}">
                <img class="img-responsive" src="{{ post.media.images[post.header.image].cache.url() }}" alt="{{ post.header.alt|raw }}" />
              </a>
            </div>
            
            <div class="blog-content">
              <h2 class="blogpost-title">
                <a href="{{ post.url }}">{{ post.title|raw }}</a>
              </h2>
              <div class="blog-meta">
                <span>{{ post.header.date|date(config.system.pages.dateformat.long) }}</span>
                <span>by <a href="">{{ post.header.author }}</a></span>
                <span>
                  {% for tag in post.header.taxonomy.tag %}
                    <a href="">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                  {% endfor %}
                </span>
              </div>
              <p>{{ post.summary|raw }}</p>
              <a href="{{ post.url }}" class="btn btn-dafault btn-details">{{ 'THEME.SITE.CONT'|t }}</a>
            </div>
          </article>
          {% endfor %}

          {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        </div>

        {% if page.header.style == 'right' %}
          <div class="col-md-4">
            <div class="sidebar">
              <div class="search widget">
                {% include 'partials/simplesearch_searchbox.html.twig' %}
              </div>
              
              <div class="categories widget">
                <h3 class="widget-head">{{ 'THEME.SITE.CATS'|t }}</h3>
                {% include 'partials/taxonomylist.html.twig' with {base_url: page.url, taxonomy: 'category'} %}
              </div>
                                  
              <div class="recent-post widget">
                <h3>{{ 'THEME.SITE.RECENT'|t }}</h3>
                {% set options = { items: {'@page.children': '/blog'}, 'limit': 5, 'order': {'by': 'date', 'dir': 'desc'}, 'pagination': true } %}
                {% set rp_collection = page.collection(options) %}

                <ul>
                  {% for rp_post in rp_collection %}
                  <li>
                    <a href="{{ rp_post.url }}">{{ rp_post.title|raw }}</a><br>
                    <time>{{ rp_post.date|date(config.system.pages.dateformat.long) }}</time>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  {% include 'partials/cta.html.twig' %}
{% endblock %}
