{% extends 'partials/base.html.twig' %}

{% block content %}
    <!-- 
    ================================================== 
        Global Page Section Start
    ================================================== -->
    <section class="global-page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>{{"PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t}}</h2>
              <p>
                {% if query %}
                  {% set count = search_results ? search_results.count : 0 %}
                  {% if count == 1 %}
                    {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query|e)|raw }}
                  {% else %}
                    {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query|e, count)|raw }}
                  {% endif %}
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--=====================================
    =            Full Width Blog            =
    ======================================-->
    <section id="blog-full-width">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% for post in search_results %}
            <article class="wow fadeInDown" data-wow-delay="{{ loop.index * 0.3 + 0.3 }}s" data-wow-duration="500ms">
              <div class="blog-content">
                <h2 class="blogpost-title">
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                <div class="blog-meta">
                  <span>{{ post.header.date|date(config.system.pages.dateformat.long) }}</span>
                  <span>by <a href="">{{ post.header.author }}</a></span>
                  <span>
                    {% for tag in post.header.taxonomy.tag %}
                      <a href="">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </span>
                </div>
                <p>{{ post.summary }}</p>
                <a href="{{ post.url }}" class="btn btn-dafault btn-details">{{ 'THEME.SITE.CONT'|t }}</a>
              </div>
            </article>
            {% endfor %}

            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
          </div>

        </div>
      </div>
    </section>

    {% include 'partials/cta.html.twig' %}
{% endblock %}
